.sidebar {
  width: 320px;
  float: left;
  border-right: solid 1px lightgray;

  .search {
    margin: 1rem;
  }

  .scrollbar {
    overflow: hidden;
    overflow-y: scroll;
    list-style-type: none;
    padding: 0.4rem;
    scrollbar-width: thin;
    height: calc(100vh - 226px);
  }

  .invoice span {
    float: right;
  }

  .invoice:hover {
    background-color: lightgrey;
  }

  .paid-info {
    bottom: 0;
    width: 320px;
    padding: 1.5rem;
    border: solid;
    border-color: lightgrey;
    border-width: 1px 1px 0 0;
    height: 100px;
  }
}

.add-invoice {
  padding: 1rem;
  float: left;
  width: calc(100% - 320px);

  input {
    right: 0;
    margin-bottom: 0.5rem;
  }

  button {
    margin: auto;
    display: block;
  }
}