<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Kros Test</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
        <a class="nav-link" [routerLink]="['./']">Domov</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" [routerLink]="['invoicing']">Fakturácia</a>
      </li>
    </ul>
    
    <form class="form-inline">
      <input class="form-control" type="search" placeholder="Hľadať" aria-label="Hľadať">
      <button class="btn btn-outline-success" type="submit">Hľadať</button>
    </form>
  </div>
</nav>

<router-outlet></router-outlet>