.sidebar {
  width: 320px;
  float: left;
  border-style: solid;
  border-color: grey;
  border-width: 0 1px 0 0;
  height: calc(100vh - 101px);
}

.search {
  margin: 10px;
}

.scrollbar {
  overflow: hidden;
  overflow-y: scroll;
  height: calc(100% - 113px);
  list-style-type: none;
  padding: 0.4rem;
  scrollbar-width: thin;
}

.invoice {
  border: 1px grey solid;
  border-radius: 3px;

  span {
    float: right;
  }
}

.invoice:hover {
  background-color: lightgrey;
}

.paid-info {
  bottom: 0;
  width: 320px;
  padding: 1.5rem;
  border: solid;
  border-color: grey;
  border-width: 1px 1px 0 0;
  height: 100px;
}